lastfm/xsd/ArtistInfoXml.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="lfm">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="artist">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string" />
              <xs:element name="mbid" />
              <xs:element name="url" type="xs:string" />
              <xs:element maxOccurs="unbounded" name="image">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute name="size" type="xs:string" use="required" />
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="streamable" type="xs:unsignedByte" />
              <xs:element name="stats">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="listeners" type="xs:unsignedShort" />
                    <xs:element name="playcount" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="similar">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="artist">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="name" type="xs:string" />
                          <xs:element name="url" type="xs:string" />
                          <xs:element maxOccurs="unbounded" name="image">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute name="size" type="xs:string" use="required" />
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="bio">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="published" type="xs:string" />
                    <xs:element name="summary" type="xs:string" />
                    <xs:element name="content" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="status" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>