imeem/xsd/MediaSearch.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="result">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="statusCode" type="xs:unsignedByte" />
        <xs:element name="statusDescription" type="xs:string" />
        <xs:element name="statusDetails" />
        <xs:element name="items">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type" type="xs:string" />
                    <xs:element name="title" type="xs:string" />
                    <xs:element name="artist" type="xs:string" />
                    <xs:element name="album" type="xs:string" />
                    <xs:element name="description" type="xs:string" />
                    <xs:element name="genre" type="xs:string" />
                    <xs:element name="duration" type="xs:unsignedShort" />
                    <xs:element name="isSample" type="xs:boolean" />
                    <xs:element name="largeIconUrl" />
                    <xs:element name="iconUrl" type="xs:string" />
                    <xs:element name="musicEmbedUrl" type="xs:string" />
                    <xs:element name="maturityRating" type="xs:string" />
                    <xs:element name="playabilityStatus">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="playMode" type="xs:unsignedByte" />
                          <xs:element name="playLength" type="xs:string" />
                          <xs:element name="shareState" type="xs:string" />
                          <xs:element name="releaseDate" type="xs:string" />
                          <xs:element name="owner" type="xs:boolean" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ownerId" type="xs:string" />
                    <xs:element name="postedById" type="xs:string" />
                    <xs:element name="postedBy" type="xs:string" />
                    <xs:element name="postedByURL" type="xs:string" />
                    <xs:element name="postedByUrl" type="xs:string" />
                    <xs:element name="rating" type="xs:decimal" />
                    <xs:element name="ratingCount" type="xs:unsignedShort" />
                    <xs:element name="viewCount" type="xs:unsignedInt" />
                    <xs:element name="createDate" type="xs:string" />
                    <xs:element name="favoriteCount" type="xs:string" />
                    <xs:element name="commentCount" type="xs:unsignedShort" />
                    <xs:element name="id" type="xs:string" />
                    <xs:element name="url" type="xs:string" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="totalCount" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>